.card-box {
  padding: 20px;
  border: 1px solid rgba(54, 64, 74, 0.08);
  border-radius: 5px;

  -moz-border-radius: 5px;
  background-clip: padding-box;
  margin-bottom: 20px;
  background-color: #ffffff;

}

.bg{
  background-color: #dddddd;
  height: 100%;
  background-size: cover;
}
.checkoutMargin{
  margin-right: 10px;
}
.radiotext {
  margin: 10px 10px 0px 0px;
}
