.container{
    width: 100%;
}
.bg-white{
    background-color: #e9ecef !important;
}

.bgnew
{
    background: #43C6AC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F8FFAE, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F8FFAE, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.bgnew2{
    background: #C6FFDD;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
.logogo{
    margin-top: 4px;
    width: 220px;
    height: 170px;
}
.borderexample
{
    border-style:solid;
    border-color:#287EC7;
}
.navbar-expand {
    justify-content: flex-end;
    font-size: 32px;
}
.logo{
    margin-top: 50px;
}
.align {
    margin-left: 0px;
}
.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #c62828;
}
.vertical-menu {
    margin-top: 166px;
    position: absolute;
    left: 0;
    top: 200px;
    width: 220px; /* Set a width if you like */
    font-size: x-large;
}

.vertical-menu a {
    background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 33px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
    background-color: #4CAF50; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
    background-color: #4CAF50; /* Add a green color to the "active/current" link */
    color: white;
}



ul2 {
    list-style-type: none;
    margin: 5px;
    padding: 2px;
    overflow: hidden;
    background-color: #eee;
    height: 55px;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 3px 106px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #4CAF50;
}

.active {
    background-color: #4CAF50;
}
.cardBox {
    width: 100%;
    padding-left: 200px;
    padding-right: 50px;
    margin-left: 43px;
}

.freeFont{
    font-size: 22px;
    text-align: left;

}


.fontsize
{
    font-size: 20px;
    margin-left: 12px;

}

.imagesize
{
    width: 150px;
    height:130px;
    margin-left: 3px;
    margin-right: -32px;

}