
#main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.like {
    color: #ea0000;
    outline: none;
    background: #fff;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1em;
    box-shadow: 0 0 22px 4px rgba(0,0,0,0.1);
    height: 40px;
    width: 100px;
    transition: box-shadow 0.3s;

}
