.img {
    width: 100px;
    height: 70px;
}
.pad{
    text-align: right;
}
.padButtom{
    padding-bottom: 40px;
}
.pad0 {
    padding-left: 300px;
}
.pad1{
    padding-left: 900px;
}
.pad2{
    padding-left: 50px;
}
.cell{
    margin-left: 0px;
    margin-right: 0px;
}
.cartInline{
    display: inline-block;
}